:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@media (max-width: 360px) {
  body {
    font-size: 14px;
  }
}

.welcomeText {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  /* background-color: rgb(238, 234, 234); */
  width: 95%;
  height: 70px;
}

.header__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  width: 95%;
  height: 70px;
  /* background-color: rgb(246, 220, 220); */
}

.button__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  height: 50px;
}

.header__text {
  font-size: 22px;
  font-weight: 400;
}

.nav__wrapper {
  margin: 0 auto;
  width: 95%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: #d2d1d1;
}

.nav__link {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  padding: 3px 15px;
  border-radius: 5px;
}

.nav__link:hover {
  background-color: gray;
  color: white;
}

.home__wrapper,
.designer__wrapper {
  margin: 0 auto;
  width: 95%;
  height: 530px;
  background-color: rgb(191, 183, 197);
  padding: 40px;
}

.lastComments__heading,
.topDesigners__heading {
  font-size: 24px;
  font-weight: 400;
}

.lastComments__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 370px;
  margin: 20px 0px 20px 0px;
  padding: 30px 5px 30px 30px;
  border-radius: 7px;
  color: #000;
  background-color: rgb(245, 242, 247);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1);
}

.scrollableContainer {
  overflow-y: auto;
  height: 100%;
  padding-right: 20px;
}

.comment__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3px;
  margin-bottom: 30px;
}

.tableDesigner__wrapper {
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin: 20px 0px 20px 0px;
  border-radius: 7px;
  background-color: rgb(245, 242, 247);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1);
}

.issuesPage__wrapper {
  margin: 0 auto;
  width: 95%;
  height: 500px;
  background-color: rgb(191, 183, 197);
  padding: 25px;
}

.chart__wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgb(245, 242, 247);
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1);
}

.statusPieChart__wrapper {
  width: 300px;
  height: 320px;
  /* background-color: blueviolet; */
}

.financeChart__wrapper {
  padding: 10px;
  width: 500px;
  height: 300px;
  /* background-color: rgb(0, 255, 42); */
}

.designerPage__wrapper {
  /* background-color: red; */
  margin: 0 auto;
  width: 95%;
  background-color: rgb(191, 183, 197);
  padding: 20px 20px 20px 0px;
}

.designers__item {
  margin: 0 auto;
  padding: 10px 10px 30px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000;
  background-color: rgb(245, 242, 247);
  border-radius: 7px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1);
}

.item {
  width: 400px;
  /* background-color: blue; */
  margin: 10px 30px 10px 20px;
  border: 1px solid rgb(0, 0, 0, 0.4);
  border-radius: 7px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1);
}

.item:first-child {
  margin-top: 7px;
}

.img {
  margin: 3px 10px 3px 3px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.img__text {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.designer__issues {
  margin-top: 15px;
  /* visibility: hidden; */
}

.status__issues {
  cursor: pointer;
}